body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #000000;
}


.header {
  display: flex;
  background-color: #141414;
  justify-content: space-between;
  padding: 20px;
  padding-left: 40px;
}

.header .container {
  display: flex;
}

.header .barra {
  display: flex;
  justify-content: right;
}

.header nav {
  display: flex;
  align-items: center;
}

.header .logo {
  width: 100px;
}

.header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.header button {
  background-color: #141414;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

.header .img {
  height: 55px;
}

.barra a {
  color: #ffffff;
  text-decoration: none;
  margin: 20px;
}


.section {
  margin-bottom: 20px; /* Espacio entre secciones */
}


.imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre imágenes */
}

.imagen {
  width: 200px; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  object-fit: cover; 
}


.titulo {
  text-align: center; /* Centra el texto del título */
  margin-top: 8px; /* Espacio imagen y el título */
  font-size: 14px; 
  color: #ffffff; 
}

/* Estilos del contenedor de cada película */
.pelicula {
  text-align: center; /* Centra  contenido  película */
  margin-bottom: 20px; /*espacios*/
}
